html,
body {
  background-size: 100%;
  background-attachment: fixed;
  background-image: url(http://img01.deviantart.net/6d31/i/2009/153/d/0/charon_by_shadow_net.jpg);
}
button,
select {
  width: 200px;
  border: none;
  color: #000000;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
}
