<!DOCTYPE html>
<html>
  <head>
    <title>H.A.D.E.S.</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
     <!-- D3.js CDN source -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    
  </head>


  <header>
    <div class="row topper">
      <h1>H.A.D.E.S</h1>
      <h6>(How Anyone Dies in Every State)</h6>
    </div>
  </header>
<body>


