<!DOCTYPE html>
<html>
  <head>
    <title>Static Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <header>
    <div>
      <ul>
        <li><a href="/signout">SIGN OUT</a></li>        
        <li><a href="/membersonly/gifts">Gime Wishes</a></li>
        <li><a href="/membersonly/users">Search</a></li>
        <li><a href="/membersonly/users/myprofile">Profile</a></li>
      </ul>
    </div>
  </header>
<body>


